@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap');

:root {
    /* fontes */
    --fonte-principal: 'Raleway', sans-serif;

    /* cores */
    --preto: #000000;
    --branco: #FFFFFF;
    --cinza: #CCCCCC;
}

body {
    font-family: var(--fonte-principal);
    font-size: 16px;
    background-image: linear-gradient(to right, white, purple);
}

.cabecalho__titulo {
    color: white;
    border-bottom: solid 1px var(--branco);
    background-color: gray;
    font-weight: bold;
    font-size: 34px;
    padding: 1em 0 1em 3em;
    text-shadow: 0.1em 0.1em 0.1em var(--preto);
}

.principal {
    height: 100%;
    margin: 0 auto;
    width: 60%;
}

.primeiro-titulo {
    border-bottom: 1px solid var(--branco);
    display: block;
    font-weight: 550;
    font-size: 25px;
    margin-right: 70%;
    padding: 1em 0 0.5em;
}

.texto-ensino {
    font-style: italic;
    margin-top: 0.5em;
}

.pesquisarCampo {
    color: #555;
    font-size: 14px;
    display: block;
    margin-top: 1em;
    margin-bottom: 0.5em;
}

.filtro-tabela {
    border: 1px solid var(--branco);
    padding: .7em;
    border-radius: 11px;
}

.tabela {
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    table-layout: fixed;
    width: 100%;
}

.tabela td, th {
    background: var(--branco);
    border: 1px solid var(--preto);
    padding: .7em;
    text-align: center;
}

.tabela th {
    color: var(--branco);
    background-color: rgb(194, 4, 194);
    font-weight: bold;
}

#form-adicionar label{
	color: #555;
	display: block;
	margin-bottom: .2em;
    margin-top: 1em;

}

.campo{
    border: 1px solid #ccc;
    border-radius: 11px;
	padding: .7em;
	padding-bottom: 1em;
	width: 100%;
}

.campo:focus, .filtro-tabela:focus {
    box-shadow: 2px 2px 2px 2px rgb(148, 181, 184);
    outline: 0;
}

.botao-principal {
    margin-top: 1em;
    background-color: purple;
    padding: 15px;
    border: 1px solid black;
    display: inline-block;
    border-radius: 10px;
    font-weight: bold;
    color: white;
}

.botao-principal:hover {
    cursor: pointer;
    font-size: 20px;
    transition: 0.5s ease;
    background-color: rgb(194, 4, 194);
}

.contato-invalido {
    background-color: lightcoral;
}

#mensagens-erro {
    color: red;
    padding: 1em 0 0 0;
}

.invisivel {
    display: none;
}